p = "Hello #{@lead.buyer.first_name},"

p Thank you for your interest in NterOne – where customer service is our top priority!

p "We are pleased to offer you a customized training quote. Please see the attached PDF that outlines the details of the products and/or services requested. If you have any questions please reach out to your sales representative, or contact the sales team at sales#{t('email')}. You can also call us at 703-972-2288."

p We look forward to hearing from you soon!

p Best Regards,

p NterOne Sales Team
