.form-container
  = form_for :report, url: reports_users_path(format: :xlsx) do |f|
    .form-group
      = label_tag "report[parent_id]", "Owner"
      = select_tag "report[parent_id]",
                   options_for_select(surname_ordered_options(@owners)),
                   include_blank: "Please select",
                   class: 'search form-control input-sm search-sales-select',
                   style: "width: 100%;"

    hr

    .form-group
      = label_tag "report[source_name]", 'Source'
      = select_tag "report[source_name]",
                   options_for_select(Rails.application.config.lead_sources),
                   include_blank: "Please select",
                   class: 'form-control search-select'

    .form-group
      = label_tag "report[status]", t('users.partial_form.status')
      = select_tag "report[status]",
                   options_for_select(User.statuses.keys.to_a.map { |w| [w.humanize, w] }),
                   include_blank: "Please select",
                   class: 'form-control search-select'

    hr

    / .form-group
    /   = label_tag "report[do_not_email]", 'Do Not Email'
    /   br
    /   = check_box_tag "report[do_not_email]"
    /
    / .form-group
    /   = label_tag "report[do_not_call]", 'Do Not Call'
    /   br
    /   = check_box_tag "report[do_not_call]"
    /
    / hr

    .form-group
      = label_tag "report[state]", 'State/Province'
      = select_tag "report[state]",
                 options_for_select([]),
                 include_blank: "Please select",
                 class: 'search-states-select form-control',
                 style: "width: 100%;"

    hr

    .form-group
      = label_tag "report[company_id]", 'Company'
      = select_tag "report[company_id]",
                 options_for_select([]),
                 include_blank: "Please select",
                 class: 'search-companies-select form-control',
                 style: "width: 100%;"

    .form-buttons
      button.btn.btn-success type="submit" value="true"
        = t('default.action.export')
      button.btn.btn-default type="button" data-dismiss="modal"
        = t('default.action.cancel')

  javascript:
    $('.search-sales-select').select2({
      dropdownParent: $(".modal-body.panel-body"),
      theme: "bootstrap",
      ajax: {
        url: "#{sales_reps_users_path}",
        dataType: 'json',
        delay: 500,
        data: function(params) {
          return {
            q: params.term
          };
        },
        processResults: function(data) {
          return {
            results: $.map(data.items, function(item) {
              return {
                id: item.id,
                text: item.last_name + ", " + item.first_name
              }
            })
          };
        }
      },
      cache: true,
      minimumInputLength: 3
    });

    $('.search-states-select').select2({
      dropdownParent: $(".modal-body.panel-body"),
      theme: "bootstrap",
      ajax: {
        url: "#{users_path(key: 'state')}",
        dataType: 'json',
        delay: 500,
        data: function(params) {
          return {
            q: params.term
          };
        },
        processResults: function(data) {
          return {
            results: $.map(data.items, function(item) {
              return {
                id: item,
                text: item
              }
            })
          };
        }
      },
      cache: true,
      minimumInputLength: 1
    });

    $('.search-companies-select').select2({
      dropdownParent: $(".modal-body.panel-body"),
      theme: "bootstrap",
      ajax: {
        url: "#{companies_path}",
        dataType: 'json',
        delay: 500,
        data: function(params) {
          return {
            q: params.term
          };
        },
        processResults: function(data) {
          return {
            results: $.map(data.items, function(item) {
              return {
                id: item.id,
                text: item.title
              }
            })
          };
        }
      },
      cache: true,
      minimumInputLength: 3
    });
