# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore database configuration
/config/database.yml

# Ignore uploaded files
public/*

.ruby-gemset
.ruby-version
.env
*~
erd.pdf

# Ignore application configuration
/config/application.yml

sitemap.xml.gz

# OSX system files
.DS_Store
