# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore database configuration
/config/database.yml

# Ignore uploaded files
public/uploads/*

.ruby-gemset
.ruby-version
.env
*~
sitemap.xml.gz
