$('.modal-title').html('<%= t "models.lab_student.plural" %>');
$('.modal-body').html(
  "<div class='row'>" +
    "<div class='col-xs-12'>" +
      "<table class='table'>" +
        "<tbody>" +
          <% @lab_students.each do |lab_student| %>
            "<tr>" +
              "<td style='border: none;'><%= lab_student.name %></td>" +
              "<td style='border: none;'><%= lab_student.email %></td>" +
            "</tr>" +
          <% end %>
        "</tbody>" +
      "</table>" +
    "</div>" +
  "</div>"
);
$('#myModal').modal('show');
