<%- content_for :breadcrumbs do %>
  <a href="<%= main_app.root_path %>">
    <span class="fa fa-home"></span>
    Home
  </a>
  <span class="seperator">/</span>
  <span class="text-muted">Forums</span>
<% end %>

<h2><%= t('new', :scope => 'forem.admin.category') %></h2>

<%= render "form" %>
