= link_to "All Brands", brands_path, class: "btn btn-lg btn-default"
= link_to "Add Brand User", new_user_registration_path, class: "btn btn-lg btn-default"

= link_to "Users", users_path, class: "btn btn-lg btn-default"
= link_to "New Platform", new_platform_path, class: "btn btn-lg btn-default"
