$('#myModalWide .modal-title').html("<%= t('general.contact_us_new_js.contact_us') %>");
$('#myModalWide .modal-body').html("<div class='row'></div>");
$('#myModalWide .modal-body > .row').append("<div class='col-xs-12 col-md-6' style='margin-bottom: 20px;'><%= escape_javascript(render partial: 'contact_us_form', locals: { user: @user }) %></div>");
$('#myModalWide .modal-body > .row').append("<div class='col-xs-12 col-md-6'><%= escape_javascript(render partial: 'shared/addresses') %></div>");
$('#myModalWide').modal('show');
grecaptcha.reset();
