h3 Email:
p = @applicant.email

h3 FirstName:
p = @applicant.first_name

h3 LastName:
p = @applicant.last_name
/ p = link_to 'Download Resume', attachments["job_applicant.resume_upload.file.original_filename.to_s"].url
