.nested-fields
  .form-group
    = f.select :role, [["Admin", :admin],
                       ["Sales Rep", :sales_rep],
                       ["Sales Manager", :sales_manager],
                       ["Student", :member],
                       ["LMS Student", :lms_student],
                       ["LMS Manager", :lms_manager]], {}, class: 'form-control input-sm'
  = link_to_remove_association "Remove role", f
