span
  = link_to "Mark As Direct Customer", "javascript:void(0)", class: "hidden classify_user_link mark_as_direct btn btn-default ml-3"
  = link_to "Mark As Partner Customer", "javascript:void(0)", class: "hidden classify_user_link mark_as_partner btn btn-default"

javascript:
  function mass_edit_customer_type(customer_type) {
    user_ids = []
    $(".users_mass_edit_checkbox:checked").each(function(){
        user_ids.push($(this).val());
    });
    
    $.ajax({
      url: "/users/mark_customers_type",
      dataType: 'json',
      method: "POST",
      data: {user_ids: user_ids, mark_as: customer_type },
      success:function(data) {
        $.each(user_ids, function( index, value ) {
          if(customer_type == "direct_customer"){
            $(".customer_type_"+value).text("D");
          }
          else{
            $(".customer_type_"+value).text("P");
          }
        });
      }
    })
  }

  $(".mark_as_direct").on('click', function(){
    mass_edit_customer_type("direct_customer");
  });

  $(".mark_as_partner").on('click', function(){
    mass_edit_customer_type("partner_customer");
  });