= content_for :actions do
  li
    = link_to job_applicants_path do
      = "Job Applicants"
  li
    = link_to sales_force_form_for_tasks_path, remote: true do
      = "Upload Sales Force Task Files"
  li
    = link_to sales_force_form_for_other_path, remote: true do
      = "Upload Other Sales Force Files"

= render 'layouts/tabs'

.container
  .row
    .col-xs-12
      ul.nav.nav-tabs style='margin-bottom: 10px;'
        li.active.users_tab role="presentation"
          = link_to 'All', '#', id: 'btn-all-view'
        li.users_tab role="presentation"
          = link_to 'Students', '#', id: 'btn-student-view', class: "btn-list-view", data: {role: "students"}
        li.users_tab role="presentation"
          = link_to 'Instructors', '#', id: 'btn-instructors-view', class: "btn-list-view", data: {role: "instructors"}
        li.users_tab role="presentation"
          = link_to 'Admin', '#', id: 'btn-admin-view', class: "btn-list-view", data: {role: "admins"}
      #view-filter-controls.container-muted
        = link_to t('default.action.new'), new_user_invitation_path, remote: true, class: 'btn btn-green-gradient element-left-side', role: 'button'

        - if policy(:user).mass_edit?
          .dropdown.inline-dropdown.mass_edit_btn
            button#dropdownMenu1.btn.btn-default.dropdown-toggle.element-left-side aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" type="button"
              = "Mass Edit "
              span.caret
            ul.dropdown-menu aria-labelledby="dropdownMenu1"
              li
                = link_to "Change Sales Rep", mass_edit_users_path(type: action_name), role: 'button', remote: true
              li
                = link_to "Mark As Direct Customer", "javascript:void(0)", class: "classify_user_link mark_as_direct"
              li
                = link_to "Mark As Partner Customer", "javascript:void(0)", class: "classify_user_link mark_as_partner"

        = render partial: "search_inputs"

      i.fa.fa-spinner.fa-spin.hide.people_loader style="font-size: 30px; position: absolute; right: 50%; top: 35%; color: rgb(15, 115, 185);"

      #list-view-container.users_listing.all_listing
        #list-view
          = smart_listing_render(:users)

      #list-view-container.users_listing.students_listing.hide
        #list-view
          = smart_listing_render(:students)

      #list-view-container.users_listing.instructors_listing.hide
        #list-view
          = smart_listing_render(:instructors)

      #list-view-container.users_listing.admins_listing.hide
        #list-view
          = smart_listing_render(:admins)

javascript:
  $('.permissions .people').addClass('active');

  function mass_edit_customer_type(customer_type) {
    user_ids = []
    $(".users_mass_edit_checkbox:checked").each(function(){
        user_ids.push($(this).val());
    });

    $.ajax({
      url: "/users/mark_customers_type",
      dataType: 'json',
      method: "POST",
      data: {user_ids: user_ids, mark_as: customer_type },
      success:function(data) {
        $.each(user_ids, function( index, value ) {
          if(customer_type == "direct_customer"){
            $(".customer_type_"+value).text("D");
          }
          else{
            $(".customer_type_"+value).text("P");
          }
        });
      }
    })
  }

  $(".mark_as_direct").on('click', function(){
    mass_edit_customer_type("direct_customer");
  });

  $(".mark_as_partner").on('click', function(){
    mass_edit_customer_type("partner_customer");
  });

  $("#btn-all-view").on('click', function(){
    $(".users_tab").removeClass("active");
    $(this).parent().addClass("active");
    filter_value = $(".input-search").not('.hide').find("#filter").val();
    $("input.search").val(filter_value);
    $(".input-search").addClass("hide");
    $(".all_search").removeClass("hide");
    $.ajax({
      url: "/users.js",
      method: "GET",
      data: {filter: filter_value}
    })
  })

  $(".btn-list-view").on('click', function(){
    $(".users_tab").removeClass("active");
    $(this).parent().addClass("active");
    filter_value = $(".input-search").not('.hide').find("#filter").val();
    $("input.search").val(filter_value);
    $(".input-search").addClass("hide");
    $("."+$(this).data('role')+"_search").removeClass("hide");

    $.ajax({
      url: "/users.js",
      method: "GET",
      data: {role: $(this).data('role'), filter: filter_value }
    })
  })

  $( document ).ajaxStart(function() {
    $(".loading").css('display', 'block');
    $(".loading").css('opacity', '1');
    $(".content").css('opacity', '0.2');
    $(".people_loader").removeClass('hide');
  });
