= render 'layouts/tabs'

.container
  .row
    .col-xs-12
      h4
        strong.text-muted People
      .container-muted
        = link_to t('default.action.new'), new_contact_path, class: 'btn btn-green-gradient element-left-side', role: 'button', remote: true
        - if policy(:user).mass_edit?
          .dropdown.inline-dropdown.mass_edit_btn
            button#dropdownMenu1.btn.btn-default.dropdown-toggle.element-left-side aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" type="button"
              = "Mass Edit "
              span.caret
            ul.dropdown-menu aria-labelledby="dropdownMenu1"
              li
                = link_to "Change Sales Rep", mass_edit_users_path(type: action_name), role: 'button', remote: true
              li
                = link_to "Mark As Direct Customer", "javascript:void(0)", class: "classify_user_link mark_as_direct"
              li
                = link_to "Mark As Partner Customer", "javascript:void(0)", class: "classify_user_link mark_as_partner"


        = link_to "Unsubscribe", leads_unsubscribe_new_users_path(from: "contacts"), class: 'btn btn-default element-left-side', remote: true

        = link_to 'Export', '#', id: 'export', class: 'pull-right btn btn-green-gradient element-right-side', title: 'Export', role: 'button'

        = smart_listing_controls_for(:users, { class: 'input-search' }) do
          .input-group.filter.element-right-side
            = text_field_tag :search, '', class: 'search form-control',
                                          placeholder: t('admins.classes.search'),
                                          autocomplete: :off
            span.input-group-btn
              button.btn.btn-default.disabled type="submit"
                span.glyphicon.glyphicon-search

          = render partial: 'filters_modal'

        = link_to "#", class: "pull-right btn btn-default element-right-side", data: { toggle: "modal", target: "#filtersModal" } do
          i.fa.fa-filter aria-hidden="true" style='margin-right: 5px;'
          | Filters

        = select_tag "people_stage", options_for_select([[ "All", "all_stage"], ['Leads', 'leads'], ['Contacts', "contacts"]], "All"), class: 'form-control pull-right'

      = smart_listing_render(:users)

javascript:
  $('.permissions .sales').addClass('active');
  $('#people_stage').val("all_stage");
  $(".search-customer-type-select-filter").first().prop("checked", true);

  $('#export').on('click', function(e) {
    e.preventDefault();
    window.open(
      "#{people_users_path(:format => :xlsx)}?" +
      $.param({
        "user[filters][parent_id]": $('#user_filters_parent_id').val(),
        "user[filters][source_name]": $('#user_filters_source_name').val(),
        "user[filters][status]": $('#user_filters_status').val(),
        "user[filters][state]": $('#user_filters_state').val(),
        "user[filters][company_id]": $('#user_filters_company_id').val(),
        "user[filters][customer_type]": $(".search-customer-type-select-filter:checked").val(),
        "search": $('#search').val()
      })
    );
  });

  function mass_edit_customer_type(customer_type) {
    user_ids = []
    $(".users_mass_edit_checkbox:checked").each(function(){
        user_ids.push($(this).val());
    });

    $.ajax({
      url: "/users/mark_customers_type",
      dataType: 'json',
      method: "POST",
      data: { user_ids: user_ids, mark_as: customer_type },
      success:function(data) {
        $.each(user_ids, function(index, value) {
          if(customer_type == "direct_customer") {
            $(".customer_type_"+value).text("D");
          }
          else {
            $(".customer_type_"+value).text("P");
          }
        });
      }
    })
  }

  $("#people_stage").on('change', function(){
    $.ajax({
      url: "/users/people.js",
      method: "GET",
      data: { stage: $(this).val() }
    })

  })

  $(".mark_as_direct").on('click', function() {
    mass_edit_customer_type("direct_customer");
  });

  $(".mark_as_partner").on('click', function() {
    mass_edit_customer_type("partner_customer");
  });
