<% options = "<option>Please select</option>" %>
<% vod_options = "<option>Please select</option>" %>

<% if @course.present? && @course.upcoming_events.any? %>
  <% @course.upcoming_events.each do |event| %>
    <% options += "<option value='#{event.id}'>#{event.start_date} to #{event.end_date} #{'(' + event.format + ')' if event.format.present?}</option>" %>
  <% end %>
  $('select.event-select').html("<%= escape_javascript(options.html_safe) %>");
  $('select.event-select').prop('disabled', false);
<% else %>
  $('select.event-select').html("<%= escape_javascript(options.html_safe) %>");
  $('select.event-select').select2().val('').trigger('change');
  $('select.event-select').prop('disabled', true);
<% end %>

<% if @course.present? && @course.video_on_demands.any? %>
  <% @course.video_on_demands.each do |vod| %>
    <% vod_options += "<option value='#{vod.id}'>#{vod.title}</option>" %>
  <% end %>
  $('select.video_on_demand-select').html("<%= escape_javascript(vod_options.html_safe) %>");
  $('select.video_on_demand-select').prop('disabled', false);
<% else %>
  $('select.video_on_demand-select').html("<%= escape_javascript(vod_options.html_safe) %>");
  $('select.video_on_demand-select').select2().val('').trigger('change');
  $('select.video_on_demand-select').prop('disabled', true);
<% end %>
