[LOGO]
 
p Hello Dave Clearman,

p
  | This notice is a confirmation of the enrollment for class below. 
  | You will receive detailed class login information and courseware 3-5 business days prior to the scheduled start date.

p Special information regarding this course may be listed below – please read completely.

p NterOne Corporation invites you to participate as an attendee in the following training session:

 

Course Information: DCNX7K: Configuring Cisco Nexus 7000 Switches v3.0

Name: Dave Clearman

Location: Live Online                     

Date: Monday, April 25 thru Friday, April 29, 2016

Start Time: 10 AM EST

End Time: 6 PM EST

WebEx sessions are available 30 minutes before class begins.

 

**For optimal class experience, we strongly recommend that you use two screens in order to view course material and participate in lab simultaneously.

 

Note: You can check WebEx connectivity by going to this link: http://www.webex.com/test-meeting.html

Although WebEx supports Internet Explorer, we have found more success with recommending Firefox, Safari and Google Chrome in our daily use of WebEx.  WebEx login information will be emailed to each student the week before class begins.  Course materials will be delivered via email 3-5 days before class begins.

 

Windows 10 Support:  Windows 10 is not officially supported, but most functionality in Internet Explorer should work.  The Edge browser in Windows 10 is not supported.  LINUX is also not well supported in WebEx.  You will be unable to successfully join audio: the only workaround discovered is to use a Windows VM.

 

Need Help? Call Customer Service

 

·         E-Mail: Helpdesk@Nterone.com

·         Phone: 703 972 2288 Ext. 1022

·         Hours: 8:00am – 8:00pm EST

 

 

p Thank you very much for your business,

p Customer Service,

p www.NterOne.com
