.fly-form
  = form_for @opportunity do |f|
    - if @opportunity.errors.any?
      .alert.alert-danger.alert-dismissible
        button.close type="button" data-dismiss="alert" aria-label="Close"
          span aria-hidden="true" &times;
        h4 = "#{pluralize(@opportunity.errors.count, 'error')}:"
        ul
          - @opportunity.errors.full_messages.each do |msg|
            li = msg
            
    .form-group
      = f.label :title, t('default.label.title')
      = f.text_field :title, class: 'form-control'
              
    hr
              
    .form-group
      = f.label :stage, 'Stage'
      = f.select :stage, opportunity_stages_options,
        {},
        { class: 'search-select stage-select form-control' }
        
    .form-group
      = f.label :date_closed, "Close Date"
      br
      = f.date_select :date_closed, class: 'form-control'
        
    .form-group
      = f.label :reason_for_loss, 'Reason for Loss'
      = f.select :reason_for_loss, opportunity_reasons_for_loss_options,
        { include_blank: t('companies.partial_form.dropdown') },
        { class: 'search-select reason-for-loss-select form-control', disabled: @opportunity.stage != 0 }
        
    hr
    
    .form-group
      = f.label :kind, 'Delivery Type'
      = f.select :kind, opportunity_kind_options,
        { include_blank: t('companies.partial_form.dropdown') },
        { class: 'search-select form-control' }
        
    .form-group
      = f.label :course_id, 'Course'
      = f.select :course_id, grouped_options_for_select(grouped_courses_options(@courses), f.object.course_id),
        { include_blank: t('companies.partial_form.dropdown') },
        { class: 'search-select course-select form-control' }
        
    .form-group
      = f.label :event_id, 'Event (Date)'
      = f.select :event_id, @opportunity.course.present? ? @opportunity.course.upcoming_events.collect { |event| ["#{event.start_date} to #{event.end_date} #{'(' + event.format + ')' if event.format.present?}", event.id] } : [],
        { include_blank: t('companies.partial_form.dropdown') },
        { class: 'search-select event-select form-control', disabled: @opportunity.course.nil? || @opportunity.course.upcoming_events.empty? }
    
    .form-group
      = f.label :amount, 'Amount'
      .input-group
        span.input-group-addon $  
        = f.text_field :amount, data: { autonumeric: true }, class: 'form-control input-amount form-control'
    
    hr
    
    .form-group
      = f.label :payment_kind, 'Payment Type'
      = f.select :payment_kind, opportunity_payment_kind_options,
        { include_blank: t('companies.partial_form.dropdown') },
        { class: 'search-select form-control' }
      
    hr
    
    .form-group
      = f.label :customer_id, "Student"
      .input-group
        = f.select :customer_id, existing_select2_ajax_user(@opportunity.customer),
          { include_blank: t('companies.partial_form.dropdown') },
          { class: 'search-contacts-select form-control', style: "width: 100%; border-top-right-radius: 0; border-bottom-right-radius: 0;" }
        span.input-group-btn
          button.btn.btn-success type="button" style="padding: 0;"
            = link_to "New", new_contact_path, remote: true, style: "display: inline-block; color: white; padding: 6px 12px; text-decoration: none;"
    
    .form-group
      = f.label :account_id, 'Company'
      .input-group
        = f.select :account_id, existing_select2_ajax_company(@opportunity.account),
          { include_blank: t('companies.partial_form.dropdown') },
          { class: 'search-companies-select form-control', style: "width: 100%;" }
        span.input-group-btn
          button.btn.btn-success type="button" style="padding: 0;"
            = link_to "New", new_company_path, remote: true, style: "display: inline-block; color: white; padding: 6px 12px; text-decoration: none;"
      
        
    fieldset
      .form-group
        = f.label :billing_street, 'Billing Street'
        = f.text_field :billing_street, class: 'form-control'
        
      .row
        .col-xs-12
          .form-group
            = f.label :billing_city, 'Billing City'
            = f.text_field :billing_city, class: 'form-control'
        .col-xs-12
          .form-group
            = f.label :billing_state, 'Billing State'
            = f.text_field :billing_state, class: 'form-control'
        .col-xs-12
          .form-group
            = f.label :billing_zip_code, 'Billing Zip Code'
            = f.text_field :billing_zip_code, class: 'form-control'
            
    hr
        
    .form-group
      = f.label :notes, 'Notes'
      = f.text_area :notes, rows: 10, class: 'form-control froala'
    
    hr
        
    .form-group
      = f.label :employee_id, "Sales Rep"
      = f.select :employee_id, existing_select2_ajax_user(@opportunity.employee),
        { include_blank: t('companies.partial_form.dropdown') },
        { class: 'search-sales-select form-control', style: "width: 100%;" }
        
    .form-group
      = f.label :partner_id, 'Delivering Partner'
      = f.select :partner_id, existing_select2_ajax_company(@opportunity.partner),
        { include_blank: 'NterOne' },
        { class: 'search-companies-select form-control', style: "width: 100%;" }
        
    .form-group
      = f.label :email_optional, 'Additional Email Recipient (Optional)'
      = f.text_field :email_optional, class: 'form-control'
      
    .form-buttons
      button.btn.btn-success type="submit"
        - if @opportunity.new_record?
          = t('default.action.create')
        - else
          = t('default.action.update')
      button.btn.btn-default type="button" data-dismiss="modal"
        = t('default.action.cancel')

javascript:
  $('.fly-form form :input').on('change input', function() {
    flyForm = $('.fly-form form').serialize();
    console.log(flyForm);
    $.post(
      "#{fly_form_path}",
      flyForm
    );
  });  
  
  $('.search-contacts-select').select2({
    dropdownParent: $(".modal-body.panel-body"),
    theme: "bootstrap",
    ajax: {
      url: "#{contacts_users_path}",
      dataType: 'json',
      delay: 500,
      data: function(params) {
        return {
          q: params.term
        };
      },
      processResults: function(data) {
        return {
          results: $.map(data.items, function(item) {
            return {
              id: item.id,
              text: item.last_name + ", " + item.first_name
            }
          })
        };
      }
    },
    cache: true,
    minimumInputLength: 3
  });
  
  $('.search-sales-select').select2({
    dropdownParent: $(".modal-body.panel-body"),
    theme: "bootstrap",
    ajax: {
      url: "#{sales_reps_users_path}",
      dataType: 'json',
      delay: 500,
      data: function(params) {
        return {
          q: params.term
        };
      },
      processResults: function(data) {
        return {
          results: $.map(data.items, function(item) {
            return {
              id: item.id,
              text: item.last_name + ", " + item.first_name
            }
          })
        };
      }
    },
    cache: true,
    minimumInputLength: 3
  });

  $('.search-companies-select').select2({
    dropdownParent: $(".modal-body.panel-body"),
    theme: "bootstrap",
    ajax: {
      url: "#{companies_path}",
      dataType: 'json',
      delay: 500,
      data: function(params) {
        return {
          q: params.term
        };
      },
      processResults: function(data) {
        return {
          results: $.map(data.items, function(item) {
            return {
              id: item.id,
              text: item.title
            }
          })
        };
      }
    },
    cache: true,
    minimumInputLength: 3
  });

  $('select.stage-select').on('change', function(){
    if($(this).val() == 0) {
      $('select.reason-for-loss-select').prop('disabled', false);
    } else {
      $('select.reason-for-loss-select').select2().val('').trigger('change');
      $('select.reason-for-loss-select').prop('disabled', true);
    }
  });
  
  $('select.company-select').on('change', function(){
    var companyId = $(this).val();
    $.get("#{pluck_companies_path}", { company_id: companyId });
  });
  
  $('select.course-select').on('change', function(){
    var courseId = $(this).val();
    $.get("#{pluck_courses_path}", { course_id: courseId });
  });
  
  $('select.event-select').on('change', function(){
    var eventId = $(this).val();
    $.get("#{pluck_events_path}", { event_id: eventId });
  });
