@mixin value-prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{$property}: #{"-" + $vendor + "-" + $value};
    }
  }
  #{$property}: #{$value};
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.role-tabs {
  margin-bottom: 20px;
}

.contact-us-form {
  .radio {
    margin-top: 0;
  }
}

#carousel {
  max-width: 745px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 745px;
}

.credit-card-logos {
  width: 150px;
  margin-bottom: 5px;
}

.pagination {
  margin: 0;
}

.btn-link {
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  &:hover {
    text-decoration: none;
  }
}

.field_with_errors {
  color: rgb(169, 68, 66);
  input, textarea, select {
    background-color: rgb(242, 222, 222);
    border: 1px solid rgb(235, 204, 209);
  }
}

.carousel-control {
  background-color: none !important;
  background-image: none !important;
}

#add-carousel-item-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.carousel-item-admin {
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

#guaranteed-to-run {
  width: 100%;
  border: 1px solid rgb(179, 100, 42);
  .group-heading {
    border-bottom: 1px solid rgb(151, 83, 32);
    @include value-prefix(background-image, linear-gradient(top, rgb(214, 139, 83) 0%, rgb(202, 111, 43) 100%));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    h6 {
      color: white;
      text-align: center;
      font-size: 12.5px;
    }
  }
  .group-body {
    overflow: scroll;
    max-height: 500px;
    a {
      text-decoration: none;
    }
  }
}

.vertical-text {
  display: inline-block;
  float: right;
}

#action-menu {
  i {
    margin: 5.5px 10px 5.5px 0;
  }
}

.badge {
  background-color: rgb(96, 156, 61);
}

.badge-alert {
  background-color: #d9534f;
  padding: 3px 6px;
  &.badge-alert-sidebar {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &.badge-alert-settings {
    margin-left: 5px;
  }
}

.text-cart {
  color: rgb(96, 156, 61);
}

#header-nav {
  position: absolute;
  bottom: -3px;
  right: 0;
  left: 0;
  .page-title {
    font-size: 16px;
    color: #626262;
    font-weight: bold;
    float: left;
    margin-top: 5px;
    .fa {
      margin-right: 5px;
    }
    a {
      text-decoration: none;
    }
    .seperator {
      margin: 0 5px;
    }
  }
  #universal-search {
    display: inline-block;
    font-size: 16px;
    color: #337ab7;
    font-weight: bold;
    float: right;
    margin-top: 5px;
    a {
      text-decoration: none;
      margin-left: 10px;
      i.fa.fa-search, i.fa.fa-shopping-cart {
        margin-right: 5px;
      }
      span {
        margin: 0 0 2px 5px;
      }
    }
  }
  .btn-actions {
    float: right;
    margin-left: 10px;
    @media (max-width: 767px) {
      display: none;
    }
    button {
      height: 30px;
      @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
      border: 1px solid rgb(104, 163, 65);
      border-radius: 2px;
      color: rgb(255, 255, 255);
      display: block;
      float: left;
      font-size: 11px;
      font-weight: bold;
      line-height: 14px;
      margin: 0 0 0 -1px;
      padding: 7px 10px;
      position: relative;
      z-index: 2;
      &:hover {
        opacity: .80;
      }
      span {
        margin-left: 8px;
      }
      .glyphicon {
        margin-left: 0;
      }
    }
  }
}

#contact-us {
  text-align: center;
  position: fixed;
  bottom: -68px;
  padding: 5px 10px;
  display: inline-block;
  right: 5%;
  height: 100px;
  a {
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
}

.modal {
  text-align: center;
  &:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    .modal-content {
      @include value-prefix(background-image, linear-gradient(top, rgb(249, 249, 249) 0%, rgb(242, 242, 242) 100%));
      border: 1px solid rgb(174, 174, 174);
      border-radius: 4px;
      .modal-header {
        @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
        border-bottom: 1px solid rgb(174, 174, 174);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 37px;
        position: relative;
        padding: 0;
        h6.modal-title, h4.modal-title, h3.modal-title {
          font-size: 12px;
          font-weight: bold;
          line-height: 22px;
          margin: 0px;
          padding: 8px 14px 7px 14px;
        }
      }
    }
  }
}

iframe.wysihtml5-sandbox {
  height: 500px !important;
}

.bootsy-modal {
  .modal-dialog {
    margin: 0 !important;
    position: absolute !important;
    bottom: 0px !important;
    left: 0px !important;
    .modal-header {
      display: none !important;
    }
    .modal-footer {
      .form-control {
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
  }
}

.bootstrap-wysihtml5-insert-link-modal {
  .modal-dialog {
    margin: 0 !important;
    .modal-header {
      display: none !important;
    }
    .modal-body {
      .form-control {
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
  }
}

.top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  @media (min-width: 768px) {
    margin: 0 30px 0 130px;
  }
  @media (max-width: 767px) {
    margin: 0 15px;
    text-align: center;
  }
  .logo-with-tagline-large {
    float: left;
  }
  .logo-with-tagline-small {
    img {
      margin-top: 30px;
      width: 280px;
    }
  }
  .partner {
    float: right;
    margin-left: 10px;
    text-align: right;
    &:nth-child(2) {
      @media (max-width: 776px) {
        display: none;
      }
    }
    &:nth-child(3) {
      @media (max-width: 865px) {
        display: none;
      }
    }
    &:nth-child(4) {
      @media (max-width: 954px) {
        display: none;
      }
    }
    &:last-child {
      padding: 20px 0;
      @media (max-width: 1139px) {
        display: none;
      }
    }
    img {
      height: 79px;
      border-radius: 5px;
    }
    p {
      color: rgb(179, 179, 179);
      margin: 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }
  }
}

.top {
  .hidden-xs {
    overflow: hidden;
    text-overflow: clip;
  }
}

.video-thumbnail-container {
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .wistia_embed {
    width: 100% !important;
  }
}

.video-module-status {
  float: right;
  height: 20px;
  margin: 0;
  font-size: 12px;
  padding: 4px;
}

.video {
  .thumb {
    width: 50px;
    .wistia_embed {
      height: auto !important;
      width: 100% !important;
      display: block !important;
      div {
        height: auto !important;
        width: 100% !important;
        div {
          height: auto !important;
          width: 100% !important;
          img {
            height: auto !important;
            width: 100% !important;
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
          }
        }
      }
    }
  }
  .title {

  }
}

// .resource {
//   .wistia_embed {
//     height: auto !important;
//     width: 100% !important;
//     display: block !important;
//     margin-bottom: 10px;
//     div {
//       height: auto !important;
//       width: 100% !important;
//       div {
//         height: auto !important;
//         width: 100% !important;
//         img {
//           height: auto !important;
//           width: 100% !important;
//           position: relative !important;
//           top: 0 !important;
//           left: 0 !important;
//         }
//       }
//     }
//   }
// }

.social-icons {
  span {
    margin: 10px 2.5px;
    font-size: 30px;
  }
  .facebook {
    color: rgb(59, 89, 152);
  }
  .twitter {
    color: rgb(103, 201, 232);
  }
  .linkedin {
    color: rgb(0, 122, 185);
  }
  .google {
    color: rgb(210, 66, 56);
  }
}

.text-content {
  margin-bottom: 10px;
  .group-heading {
    h6 {
      font-size: 12.5px !important;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .group-body {
    padding: 8px 10px;
    h2 {
      font-size: 16px;
      margin: 0 0 4px 0;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
      color: blue;
      margin: 0 0 4px 0;
      color: rgb(32, 100, 151);
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.testimonial {
  .quotation {
    color: rgb(96, 156, 61);
  }
}


#carousel-items {
  img {
    height: 20px;
  }
}

div.instructor-bios, div.news {
  display: none;
}

#ice-team-summary, #instructor-bios-additional-info {
  font-weight: bold;
}

.sidebar {
  display: block;
  height: 100%;
  width: 100px;
  position: fixed;
  ul {
    overflow-y: scroll;
    height: 100%;
    background-color: rgb(43, 134, 202);
    li {
      margin: 0;
      text-align: center;
      height: 74px;
      &:first-child {
        a {
          padding: 18.5px 0;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
      .fa {
        font-size: 25px;
      }
      a {
        height: 100%;
        width: 100%;
        padding: 15px 0;
        @include value-prefix(background-image, linear-gradient(top, rgb(83, 158, 214) 0%, rgb(43, 134, 202) 100%));
        border-radius: 0px;
        color: #fff;
        border-bottom: 1px solid rgb(42, 120, 178);
        &.active {
          color: #fff;
          @include value-prefix(background-image, linear-gradient(top, rgb(36, 101, 180) 0%, rgb(28, 79, 137) 100%));
          border-bottom: 1px solid rgb(23, 65, 116);
        }
        &:hover span {
          opacity: 1;
        }
        span {
          font-size: 12.5px;
          opacity: .8;
        }
      }
    }
    p {
      text-align: center;
      color: white;
      margin-top: 10px;
      font-size: 12.5px;
      opacity: .8;
      text-shadow: 0 1px 0 #303030;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.sidebar-mobile {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  text-align: center;
  @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
  .fa {
    font-size: 12.5px;
  }
  .sidebar-content {
    display: none;
    width: 100%;
    text-align: center;
    li {
      text-align: center;
      &:first-child {
        height: 50px;
        @include value-prefix(background-image, linear-gradient(top, rgb(83, 158, 214) 0%, rgb(43, 134, 202) 100%));
      }
      a {
        @include value-prefix(background-image, linear-gradient(top, rgb(83, 158, 214) 0%, rgb(43, 134, 202) 100%));
        color: #fff;
        &.active {
          color: #fff;
          @include value-prefix(background-image, linear-gradient(top, rgb(36, 101, 180) 0%, rgb(28, 79, 137) 100%));
        }
        span {
          margin: 0 2.5px;
          text-align: center;
        }
      }
    }
  }
}

.sub-sidebar {
  display: block;
  background: #bf9300;
  min-height: 100%;
  width: 225px;
  position: fixed;
  left: 100px;
  background-color: lightgray;
  background-image: asset-data-url("backgrounds/body.jpg");
  z-index: 100;
  h1.sub-sidebar-heading {
    text-align: center;
    font-size: 18px;
    margin: 26px 0 26px 0;
    font-weight: bold;
    color: #5f5f5f;
  }
  @media (max-width: 767px) {
    width: 100%;
    position: absolute;
    left: 0;
    top: 158px;
  }
}

#search-submit-button {
  cursor: pointer;
}

.container-fluid {
  padding: 71px 0 0 0;
  @media (min-width: 768px) { margin: 0 30px 0 130px; }
  @media (max-width: 767px) { margin: 0 15px; }
  min-height: 100%;
  position: relative;
  margin-bottom: -100px !important;
  &:after {
    content: "";
    display: block;
    height: 100px;
  }
  .content-top {
    position: relative;
    margin-bottom: 10px;
    height: 65.5px;
    @media (max-width: 767px) { padding: 0; }
    @media (min-width: 768px) { padding: 0 30px; }
    #menu-toggle {
      position: absolute;
      right: 0;
      font-size: 30px;
      top: -61px;
      cursor: pointer;
      z-index: 1000;
      color: lightgray;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  hr {
    margin-bottom: 10px;
  }
  .content {
    .categories, .categories-mobile {
      // margin-bottom: 10px;
      .btn-category, .btn-child-category {
        font-size: 16px;
        font-weight: bold;
        color: #707070;
        border: 1px solid rgb(210, 210, 210);
        border-radius: 0px;
        @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
        @media (max-width: 767px) { width: 100%; }
      }
      .active-category {
        color: #fff;
        border: 1px solid rgb(112, 153, 60);
        @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
      }
    }
    .categories {
      .btn-category {
        margin: 0 5px;
      }
      .btn-child-category {
        margin: 0 5px 10px 5px;
      }
    }
    .categories-mobile {
      .btn-category {
        margin: 0 0 10px 0;
      }
      .panel {
        border: 0;
        margin: 0;
        .panel-heading {
          padding: 0;
        }
        .panel-collapse {
          padding: 0 10px;
          .btn-child-category {
            margin: 0;
          }
        }
      }
    }
    .course {
      background-color: #F6F6F6;
      border-radius: 10px;
      height: 135px;
      margin-bottom: 10px;
      text-align: center;
      border: 1px solid #D1D1D1;
      display: block;
      img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .subject {
      background-color: #F4F4F4;
      @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
      border: 1px solid rgb(210, 210, 210);
      height: 82px;
      margin-bottom: 10px;
      padding: 9px;
      text-decoration: none;
      display: block;
      p {
        color: #505050;
        margin: 0 0 0 70px;
        vertical-align: middle;
        text-overflow: clip;
        overflow: hidden;
        width: inherit;
        word-wrap: break-word;
        position: relative;
        top: 50%;
      	-webkit-transform: translateY(-50%);
      	-ms-transform: translateY(-50%);
      	transform: translateY(-50%);
      }
      &.with-image {
        img {
          float: left;
          width: 62px;
          height: 62px;
        }
      }
      &.without-image {
        p {
          margin: 0 0 0 28px;
        }
      }
    }
  }
}

.green {
  color: rgb(150, 193, 97);
}

.gray {
  color: lightgray;
}

.red {
  color: red;
}

.panel-heading {
  color: rgb(99, 99, 99)
}

.text-gray {

}

#degrees {
  text-align: center;
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}

.order-summary-table {
  margin-bottom: 15px;
}

.degrees-checkout {
  max-width: 100%;
  height: 125px;
}

.fa-file-pdf-o {
  font-size: 20px;
  margin: 5px;
}

.fa-file-video-o {
  font-size: 40px;
  margin: 5px;
}

.minicolors-input {
  padding-left: 32px !important;
}

iframe.wysihtml5-sandbox {
  margin: 0 !important;
}

footer {
  text-align: center;
  padding: 15px;
  height: 100px;
  position: relative;
  p {
    margin: 0;
  }
  @media (min-width: 768px) {
    margin: 0 30px 0 130px;
  }
  @media (max-width: 767px) {
    margin: 0 15px;
  }
}

.btn {
  &:not(.btn-block) {
    height: 30px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding: 7px 10px;
  }
}

.btn-success {
  @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
  border: 1px solid rgb(104, 163, 65);
}

.btn-default {
  @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
  border: 1px solid rgb(205, 205, 205);
}

.group {
  @include value-prefix(background-image, linear-gradient(top, rgb(249, 249, 249) 0%, rgb(242, 242, 242) 100%));
  border: 1px solid rgb(174, 174, 174);
  border-radius: 4px;
  color: rgb(99, 99, 99);
  font-size: 12px;
  margin-bottom: 20px;
  .group-heading {
    @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
    border-bottom: 1px solid rgb(174, 174, 174);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 37px;
    position: relative;
    h6 {
      font-size: 12px;
      font-weight: bold;
      line-height: 22px;
      margin: 0px;
      padding: 8px 10px 7px 10px;
    }
  }
  .group-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

table {
  thead {

  }
  tbody {

  }
  tr {
    padding: 5px 10px;
  }
}

.password-reset {
  margin: 0 0 0 5px;
  @include value-prefix(background-image, linear-gradient(top, rgb(91, 165, 203) 0%, rgb(58, 112, 171) 100%));
}

.form-instructions {
  font-style: italic;
  color: gray;
  font-size: 10px;
  &.absolute {
    position: absolute;
  }
}

.image-container {
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}

.credits-image {
  width: 66.66%;
  margin: 25px 0;
}

.panel-default {
  background-color: rgb(248, 248, 248);
  .panel-heading {
    @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
  }
  .panel-table {
    overflow: scroll;
  }
}

.panel-orange {
  border-color: rgb(202, 111, 43);
  .panel-heading {
    @include value-prefix(background-image, linear-gradient(top, rgb(214, 139, 83) 0%, rgb(202, 111, 43) 100%));
    color: white;
    border-bottom-color: rgb(202, 111, 43);
  }
}

.panel-red {
  border-color: rgb(178, 42, 53);
  .panel-heading {
    @include value-prefix(background-image, linear-gradient(top, rgb(214, 83, 93) 0%, rgb(178, 42, 53) 100%));
    color: white;
    border-bottom-color: rgb(178, 42, 53);
  }
}

#brand-form {
  background-color: white;
  img {
    padding: 10px 15px;
  }
}

#no-border.form-group.no-border {
  border-bottom: none;
}

.or {
  font-size: 18px;
  color: darkgray;

}

.search-results {
  height: auto;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.exam-title-field-group {
  position: relative;
}

.exam-result li {
  list-style: none;
}

.fit {
  width:1%;
  white-space:nowrap;
  a {
    text-decoration: none;
  }
}

#user-info {
  span {
    margin-right: 5px;
    font-weight: bold;
  }
}

.mini-title {
  font-size: 10px;
  color: gray;
}

.center-align {
  text-align: center;
}

.sq-btn {
  border-radius: 3px;
  color: rgb(99, 99, 99);
  font-size: 15px;
  height: 30px;
  width: 30px;
  padding: 0;
  outline: none;
  margin-right: 10px;
  @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
  border: 1px solid rgb(205, 205, 205);
  &:hover {
    color: rgb(99, 99, 99);
    @include value-prefix(background-image, linear-gradient(top, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%));
    border: 1px solid rgb(215, 215, 215);
  }
  &.r {
    color: red;
  }
}

.sign-in-field {
  text-align: center;
}

.form-buttons {
  button {
    margin-right: 5px;
  }
}

.button-container {
  text-align: center;
  a {
    button {
      border-radius: 2px;
      color: rgb(255, 255, 255);
      font-size: 22px;
      font-weight: bold;
      height: 62px;
      padding: 7px 15px;
      outline: none;
      margin: 100px 0 0 0;
      @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
      border: 1px solid rgb(104, 163, 65);
      span {
        margin-right: 8px;
      }
    }
  }
}

.seperator {
  margin: 0 5px;
}

.btn-group-container {
  .btn-group {
    button {
      margin: 0;
    }
  }
}

#subject-description {
  color: rgb(82, 82, 82);
  font-size: 14px;
  margin-bottom: 20px;
  h4 {
    color: rgb(95, 95, 95);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

#subject-description.my-plan {
  margin-bottom: 0;
}

#testimonials {
  tr {
    td {
      overflow: hidden;
      max-width: 500px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#pages {
  tr {
    td {
      overflow: hidden;
      max-width: 500px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// .bootstrap-wysihtml5-insert-image-modal {
//   h3 {
//     font-size: 12px;
//     font-weight: bold;
//     line-height: 22px;
//     margin: 0px;
//     padding: 8px 14px 7px 14px;
//   }
// }

#subject-groups {
  table {
    color: rgb(95, 95, 95);
    font-size: 12px;
    width: 100%;
    &:last-child {
      tr {
        &:last-child {
          border-bottom-width: 0px;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
    tbody {
      tr {
        border-bottom-color: rgb(223, 223, 223);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        td {
          border-right-color: rgb(223, 223, 223);
          border-right-style: solid;
          border-right-width: 1px;
          padding: 10px;
          vertical-align: middle;
          &:last-child {
            border-right-width: 0px;
          }
        }
      }
      .subject-group-item {
        td:nth-child(1) {
          width: 60px;
        }
        td:nth-child(2) {
          a {
            text-decoration: none;
          }
          span {
            color: #4d7f12;
            font-weight: bold;
          }
        }
      }
      .exam-group-item {
        td:nth-child(2) {
          a {
            text-decoration: none;
          }
        }
        td:nth-child(3) {
          width:1%;
          white-space:nowrap;
        }
        td:nth-child(4) {
          width:1%;
          white-space:nowrap;
          input {
            margin: 0;
          }
        }
      }
      .course-group-item {
        td:nth-child(1) {

        }
        td:nth-child(2) {
          width:1%;
          white-space:nowrap;
        }
        td:nth-child(3) {
          width:1%;
          white-space:nowrap;
        }
      }
      .header-group-item {
        td {
          font-size: 14px;
          padding: 2px;
          text-transform: uppercase;
          text-align: center;
        }
      }
      .custom-item-group-item {
        td:nth-child(1) {
          // width: 100%;
        }
        ul {
          margin-bottom: 0;
          padding-left: 15px;
        }
      }
    }
  }
}

.green-btn {
  border-radius: 3px;
  color: white;
  font-size: 12.5px;
  border: none;
  outline: none;
  padding: 6px 10px;
  @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
}

#back {
  border-radius: 2px;
  color: rgb(255, 255, 255);
  float: left;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 5px;
  padding: 7px 10px;
  outline: none;
  @include value-prefix(background-image, linear-gradient(top, rgb(91, 165, 203) 0%, rgb(58, 112, 171) 100%));
  border: 1px solid rgb(62, 118, 175);
  cursor: pointer;
  &:hover {
    opacity: .80;
  }
}

.admin-table, #messages, #settings {
  table {
    font-size: 14px;
    width: 100%;
    tr {
      border-bottom-color: rgb(223, 223, 223);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      th, td {
        border-right-color: rgb(223, 223, 223);
        border-right-style: solid;
        border-right-width: 1px;
        padding: 5px 10px;
        vertical-align: middle;
        &:last-child {
          border-right-width: 0px;
        }
      }
      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-width: 0px;
      }
    }
  }
  .form-group {
    background-color: rgb(255, 255 ,255);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(95, 95, 95);
    font-size: 14px;
    padding: 15px;
    margin: 0;
    label {
      font-size: 14px;
      font-weight: normal;
      display: block;
    }
    input, textarea, select {
      background-color: rgb(250, 250, 250);
      border: 1px solid rgb(215, 215, 215);
      border-radius: 0;
      cursor: auto;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      padding: 6px 7px;
      &.height-adjusted {
        height: 26px;
      }
      &.uploads {
        background-color: none;
        border: none;
      }
    }
    textarea {
      margin-bottom: 10px;
    }
    &.last-input {
      background-color: blue;
    }
  }
  .action-group {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 15px;
    input {
      border-radius: 2px;
      color: rgb(255, 255, 255);
      font-size: 11px;
      font-weight: bold;
      height: 30px;
      outline: none;
      @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
      border: 1px solid rgb(104, 163, 65);
      margin-right: 0;
    }
  }
}

.unassign {
  @include value-prefix(background-image, linear-gradient(top, rgb(250, 150, 150) 0%, rgb(150, 100, 75) 100%));
  border: 1px solid rgb(200, 125, 125);
}

button[id^="subject-toggle-"] {
  border-radius: 2px;
  color: rgb(255, 255, 255);
  float: right;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 5px;
  padding: 7px 10px;
  outline: none;
  &.inactive {
    @include value-prefix(background-image, linear-gradient(top, rgb(150, 193, 97) 0%, rgb(96, 156, 61) 100%));
    border: 1px solid rgb(104, 163, 65);
  }
  &.active {
    @include value-prefix(background-image, linear-gradient(top, rgb(250, 150, 150) 0%, rgb(150, 100, 75) 100%));
    border: 1px solid rgb(200, 125, 125);
  }
  .fa {
    margin-right: 8px;
  }
}

.lead-date, .lead-my-plan, .lead-selector, .lead-buttons {
  width:1%;
  white-space:nowrap;
}

.announcement {
  .content {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .target {
    width:1%;
    white-space:nowrap;
  }
  .poster {
    width:1%;
    white-space:nowrap;
  }
}

.lead-subject-toggle {
  float: right;
  width: 150px;
  height: 30px;
  margin-right: 5px;
}

.table-select {
  height: 20px !important;
  width: 125px;
  font-size: 11px;
}

.table-row {
  margin: 0;
  td {
    width: 50%;
  }
}

.table-split {
  td {
    width: 50%;
  }
}

.table-col {
  padding: 0;
}

.actions-column {
  select {
    height: 20px;
    width: 130px;
  }
  a {
    &:last-child {
      .sq-btn {
        margin-right: 0;
      }
    }
  }
}

.lead-form {
  display: inline-block;
  &:last-child {
    .sq-btn {
      margin-right: 0;
    }
  }
}

.alert {
  margin-bottom: 10px;
}

button[class^="course-toggle-"], button[class^="exam-toggle-"] {
  text-align: center;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

#activity-history {
  h1 {
    font-size: 12px;
    font-weight: bold;
    color: #B3B3B3
  }
  ul {
    padding: 0;
    font-size: 12px;
    &.inner {
      padding-left: 40px;
    }
    li {
      list-style: none;
      &.inner {
        list-style: circle;
      }
    }
  }
}

#find-testing-center {
  @include value-prefix(background-image, linear-gradient(top, rgb(91, 165, 203) 0%, rgb(58, 112, 171) 100%));
  border: 1px solid rgb(62, 118, 175);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  float: right;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 7px 10px;
  outline: none;
  .fa {
    margin-right: 8px;
  }
}

.my-plan-subject-header {
  margin: 0;
}

#grand-total {
  // float: right;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  // margin-top: 5px;
  height: 30px;
  padding: 7px 0 8px 0;
}

#request-quote {
  display: inline-block;
  button {
    border-radius: 2px;
    color: rgb(255, 255, 255);
    // float: right;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    // margin-top: 5px;
    padding: 7px 10px;
    outline: none;
    @include value-prefix(background-image, linear-gradient(top, rgb(91, 165, 203) 0%, rgb(58, 112, 171) 100%));
    border: 1px solid rgb(62, 118, 175);
    .fa {
      margin-right: 8px;
    }
  }
}

.links {
  a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.remove_fields {
  color: rgb(169, 68, 66);
}

.add_fields {
  color: rgb(60, 118, 61);
}

// .subjects {
//   margin-top: 10px;
// }

li.break {
  height: 1px;
  background-color: rgb(195, 195, 195);
}

.links {
  margin-bottom: 15px;
}

#group-items {
  padding: 0;
  .nested-fields {
    list-style: none;
    position: relative;
    .fa-bars {
      cursor: move;
      font-size: 20px;
      position: absolute;
      right: 0;
      bottom: 30px;
    }
    .form-group {
      margin-right: 25px;
    }
  }
}

// label {
//   font-size: 12px;
//   font-weight: bold;
// }

input[type='file'] {
  font-size: 12px;
}

.form-group.remove-bottom-border {
  border-bottom: none;
}
.form-label {
  width: 100%;
  padding: 10px 15px 0 15px;
  font-weight: bold;
  margin: 0;
}
.form-row {
  margin: 0;
  padding: 0;
  .form-column {
    margin: 0;
    padding: 0;
  }
}

.group-items-divider {
  margin-top: 0;
}

.wysihtml5-toolbar .btn {
  margin-right: 0;
}

.nested-fields {
  margin-bottom: 10px;
  .form-group {
    margin-bottom: 5px;
  }
}

.forums-select {
  padding: 0 15px;
  .sub-select {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #5f5f5f;
  }
}

.sub-divider {
  margin-left: 15px;
  margin-right: 15px;
}

.topics {
  margin-top: 13px;
  padding: 0;
  border-top: 1px solid rgb(206, 206, 206);
  a {
    list-style: none;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .topic {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #5f5f5f;
    @include value-prefix(background-image, linear-gradient(top, rgb(247, 247, 247) 0%, rgb(230, 230, 230) 100%));
    border-bottom: 1px solid rgb(206, 206, 206);
    &:hover {
      @include value-prefix(background-image, linear-gradient(top, rgb(251, 251, 251) 0%, rgb(232, 232, 232) 100%));
    }
    &:active {
      background-image: none;
      background-color: white;
    }
    div[class^='topic-'][class$='-post-count'] {
      font-weight: normal;
      font-size: 11px;
    }
  }
  .active-topic {
    background-image: none;
    background-color: white;
    &:hover {
      background-image: none;
      background-color: white;
    }
  }
}

.carousel-item-for-form {
  width: 100%;
}

hr {
  border-width: 2px 0 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-justified {
  li {
    font-size: 12.5px;
  }
  margin-bottom: 10px;
}

// .well {
//   @include value-prefix(background-image, linear-gradient(top, rgb(83, 158, 214) 0%, rgb(43, 134, 202) 100%));
// }

.hr-sub {
  border-top: 2px dashed #eee;
}

.training-group-horizontal-line {
  margin-top: 0;
}
.training-group-heading {
  color: gray;
}

// .add-right-space {
//   margin-right: 10px;
// }

.form-container {
  padding: 0;
}

.platforms {
  @media (max-width: 767px) { margin: 0; }
  .platform {
    @media (max-width: 767px) { padding: 0; }
  }
}

#announcement-form {
  textarea {
    height: 100px;
    border: 0;
    &:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

.announcement {
  td:nth-child(2) {
    width:1%;
    white-space:nowrap;
  }
  td:nth-child(3) {
    width:1%;
    white-space:nowrap;
  }
  td:nth-child(4) {
    width:1%;
    white-space:nowrap;
  }
}

.table {
  margin: 0;
}

.division-header {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: default;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  max-width: 100%;
}

.sub-select {
  &:focus {
    border-color: rgb(204, 204, 204);
  }
}

.form-control {
  box-shadow: none;
}

.post:last-child .divider {
  display: none;
}

.panel-actions-overlay {
  float: right;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

#announcement-form {
  .form-group {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-width: 0;
  }
}

.action-group {
  .button-group {
    display: inline-block;
    button {
      border-radius: 2px;
      color: rgb(255, 255, 255);
      font-size: 11px;
      font-weight: bold;
      height: 30px;
      padding: 7px 10px;
      outline: none;
      @include value-prefix(background-image, linear-gradient(top, rgb(91, 165, 203) 0%, rgb(58, 112, 171) 100%));
      border: 1px solid rgb(62, 118, 175);
      margin: 0 0 0 5px;
      &:hover {
        opacity: .80;
      }
    }
  }
}

.actions-overlay {
  display: none;
  position: absolute;
  right: 30px;
  top: 8px;
  font-size: 11px;
  a {
    float: right;
    color: rgb(106, 106, 106);
    margin-right: 10px;
    &:hover {
      text-decoration: none;
    }
    &:first-child {
      margin-right: 0;
    }
    i {
      margin: 5px 10px 5px 0;
    }
  }
}

.post {
  color: rgb(95, 95, 95);
  font-size: 14px;
  list-style: none;
  padding-left: 0px;
  .post-content {
    line-height: 22px;
    margin: 20px 18px;
    min-height: 36px;
    position: relative;
    a {
      color: rgb(43, 104, 147);
      display: block;
      position: absolute;
      text-decoration: none;
      top: 0px;
      img {
        border-radius: 2px;
        color: rgb(43, 104, 147);
        cursor: pointer;
        height: 36px;
      }
    }
  }
  .post-message {
    background-color: rgb(250, 254, 255);
    border: 1px solid rgb(181, 205, 215);
    border-radius: 3px;
    display: block;
    margin: 0 0 0 60px;
    padding: 8px 12px;
    position: relative;
    .aro {
      background-image: image-url('arrow-left.png');
      display: block;
      height: 9px;
      left: -8px;
      position: absolute;
      top: 12px;
      width: 8px;
    }
    .post-info {
      color: rgb(148, 148, 148);
      display: block;
      font-size: 11px;
      height: 22px;
      margin: -2px 0 6px 0;
      .post-actions-overlay {
        display: block;
        position: absolute;
        right: 46px;
        bottom: 20px;
        font-size: 11px;
        a {
          color: rgb(106, 106, 106);
          margin-right: 10px;
          &:hover {
            text-decoration: none;
          }
          &:first-child {
            margin-right: 0;
          }
          i {
            &::before {
              margin-right: 10px;
            }
            margin: 5px 10px 5px 0;
          }
        }
      }
      .name {
        display: block;
        float: left;
        height: 22px;
        strong {
          color: rgb(44, 89, 109);
        }
      }
      .time {
        display: block;
        float: right;
        height: 22px;
        line-height: 22px;
      }
    }
    .post-main {
      color: rgb(95, 95, 95);
      display: block;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &.current-user {
    .post-content {
      a {
        img {

        }
      }
    }
    .post-message {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(225, 225, 225);
      .aro {
        background-image: image-url('arrow-right.png');
      }
      .post-info {
        .name {
          strong {

          }
        }
        .time {

        }
      }
      .post-main {

      }
    }
  }
}

.actions-menu {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(195, 195, 195);
  border-radius: 2px;
  color: rgb(95, 95, 95);
  font-size: 14px;
  line-height: 22px;
  min-width: 160px;
  padding: 0;
  position: absolute;
  li {
    font-size: 14px;
    height: 33px;
    list-style: none;
    a {
      @include value-prefix(background-image, linear-gradient(top, rgb(253, 253, 253) 0%, rgb(245, 245, 245) 100%));
      border-radius: 2px;
      border-bottom-color: rgb(228, 228, 228);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      clear: both;
      color: rgb(106, 106, 106);
      cursor: pointer;
      display: block;
      font-size: 11px;
      font-weight: normal;
      line-height: 22px;
      outline-color: rgb(106, 106, 106);
      outline-style: none;
      outline-width: 0px;
      padding: 5px 10px;
      text-align: left;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
      &:hover {
        background-color: rgb(245, 245, 245);
        background-image: none;
        color: rgb(106, 106, 106);
      }
      span {
        display: inline-block;
        float: left;
        margin: 5.5px 10px 5.5px 0;
      }
    }
  }
}

.post-form {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 3px;
  box-shadow: rgb(250, 250, 250) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  display: block;
  font-size: 14px;
  height: 34px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 120px;
  padding-top: 10px;
}

.post-form-inputs-container {
  display: block;
  position: relative;
  margin-bottom: 20px;
  input {
    &:focus {
      border-color: rgb(213, 213, 213);
      box-shadow: none;
    }
  }
}

.post-form-button-container {
  display: block;
  font-size: 14px;
  height: 28px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.post-form-button {
  background-color: rgba(0, 0, 0, 0);
  @include value-prefix(background-image, linear-gradient(top, rgb(109, 181, 213) 0%, rgb(74, 145, 192) 100%));
  background-origin: padding-box;
  background-size: auto;
  border: 1px solid rgb(88, 151, 195);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 28px;
  line-height: 15px;
  margin: 0 0 0 12px;
  padding: 6px 10px;
  text-align: center;
  width: 57px;
  &:hover {
    color: rgb(255, 255, 255);
  }
  &:active {
    -webkit-box-shadow: rgb(128, 128, 128) 0px 0px 2px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
    background-color: rgb(85, 156, 199);
  }
}

#topic-posts {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
  color: rgb(95, 95, 95);
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  vertical-align: baseline;
  #topic-posts-header-container {
    background-color: rgba(0, 0, 0, 0);
    @include value-prefix(background-image, linear-gradient(top, rgb(248, 248, 248) 0%, rgb(232, 232, 232) 100%));
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
    color: rgb(99, 99, 99);
    display: block;
    font-size: 14px;
    height: 37px;
    line-height: 22px;
    margin: 0;
    outline-color: rgb(99, 99, 99);
    outline-style: none;
    outline-width: 0px;
    padding: 0;
    position: relative;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: baseline;
    #topic-posts-header {
      color: rgb(99, 99, 99);
      display: block;
      float: left;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: bold;
      height: 22px;
      line-height: 22px;
      margin: 0;
      outline-color: rgb(99, 99, 99);
      outline-style: none;
      outline-width: 0px;
      padding: 8px 14px 7px 14px;
      text-shadow: rgb(255, 255, 255) 0px 1px 0px;
      vertical-align: baseline;
    }
  }
}

.posts-back {
  margin-top: 15px;
}

.divider {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: rgb(223, 223, 223);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  outline-color: rgb(95, 95, 95);
  position: relative;
  text-align: left;
  vertical-align: baseline;
  span {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: none;
    background-image: image-url("divider.png");
    background-origin: padding-box;
    background-size: auto;
    color: rgb(95, 95, 95);
    display: block;
    font-size: 14px;
    left: 50%;
    margin: 0 0 0 -21px;
    outline-color: rgb(95, 95, 95);
    outline-style: none;
    outline-width: 0px;
    padding: 0 3px;
    position: absolute;
    text-align: left;
    top: -4px;
    vertical-align: baseline;
    background-repeat: no-repeat;
    height: 8px;
    width: 30px;
  }
}

#copyright {
  @media (max-width: 767px) {
    font-size: 10px;
  }
}
