<p><%= t("devise.mailer.invitation_instructions.hello", first_name: @resource.first_name) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>With your new <a href="www.nterone.com">nterone.com</a> account, you can purchase products and services, view upcoming and past training events, review purchase history, and participate in our forums.</p>

<p>We appreciate your time and look for to providing high impact training solutions. Please reach out to <a href="mailto:helpdesk@nterone.com">helpdesk@nterone.com</a> if you have any issues with login, or contact <a href="mailto:sales@nterone.com">sales@nterone.com</a> if you wish to connect with a member of our sales team. Customer service is our top priority, so please do let us know if there is anything we can do to make your experience more enjoyable.</p>

<p>Regards,</p>

<p><a href="www.nterone.com">NterOne.com</a> HelpDesk</p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
