<p>Hello <%= @resource.first_name %>,</p>

<p>Please follow the link below to reset your <a href="www.nterone.com">nterone.com</a> password. If you have any issues, please reach out to <a href='<%= "mailto:helpdesk#{t('email')}" %>'>helpdesk<%= "#{t('email')}" %></a>.</p>

<p><%= link_to 'Change your password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Regards,</p>
<p><a href="www.nterone.com">NterOne.com</a> HelpDesk</p>
