<% if @course.planned == true %>
  $('.course-toggle-active-<%= @course.course.id %>').html(
    "<span class='fa fa-check-square-o'></span>"
  );
<% end %>

<% if @course.planned == false %>
  $('.course-toggle-active-<%= @course.course.id %>').html(
    "<span class='fa fa-square-o'></span>"
  );
<% end %>

$('#grand-total').html("<span><%= t('chosen_courses.toggle_active.estimated_total') %>: <%= @grand_total %></span>");
