<% if @course.attended == true %>
  $('.course-toggle-attended-<%= @course.course.id %>').html(
    "<span class='fa fa-check-square-o'></span>"
  );
<% end %>

<% if @course.attended == false %>
  $('.course-toggle-attended-<%= @course.course.id %>').html(
    "<span class='fa fa-square-o'></span>"
  );
<% end %>

$('#grand-total').html("<span>Estimated Total for Planned Classes: <%= @grand_total %></span>");
