p = @contact_us_submission.id

p = @contact_us_submission.recipient

p = @contact_us_submission.subject

p = @contact_us_submission.name

p = @contact_us_submission.phone

p = @contact_us_submission.email

p = @contact_us_submission.inquiry

p = @contact_us_submission.feedback

p = @contact_us_submission.created_at
