<%- content_for :breadcrumbs do %>
  <a href="<%= main_app.root_path %>">
    <span class="fa fa-home"></span>
    <%= t('breadcrumbs.home') %>
  </a>
  <span class="seperator">/</span>
  <span class="text-muted">Forums</span>
<% end %>

<h2><%= t("forem.topic.edit", :subject => @topic.subject) %></h2>

<%= render "form" %>
