<% if Rails.env.production? %>
  <% if controller.class == CategoriesController && action_name == 'show' %>
    <% if @category.title == 'UCS' %>
      <!-- Google Code for UCS Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 993554150;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "gGPwCNupwGUQ5t3h2QM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt=""
          src="//www.googleadservices.com/pagead/conversion/993554150/?label=gGPwCNupwGUQ5t3h2QM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    <% end %>
    <% if @category.title == 'Nexus' %>
      <!-- Google Code for Nexus Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 993554150;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "-tOJCOnzymUQ5t3h2QM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt=""
          src="//www.googleadservices.com/pagead/conversion/993554150/?label=-tOJCOnzymUQ5t3h2QM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    <% end %>
    <% if @category.title == 'UCM' %>
      <!-- Google Code for Collaboration Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 993554150;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "mpgQCJirwGUQ5t3h2QM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt=""
          src="//www.googleadservices.com/pagead/conversion/993554150/?label=mpgQCJirwGUQ5t3h2QM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    <% end %>
    <% if @category.title == 'ASA' %>
      <!-- Google Code for Security - ASA Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 993554150;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "EAJ0CPyt0mUQ5t3h2QM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt=""
          src="//www.googleadservices.com/pagead/conversion/993554150/?label=EAJ0CPyt0mUQ5t3h2QM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    <% end %>
  <% end %>
<% end %>
