div#async-waiting style="display: none; position: fixed; top: 0px; right: 0px; left: 0px; z-index: 1000; padding: 10px; background-color: lightgray; text-align: center;"
  i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw

div#async-success style="display: none; position: fixed; top: 0px; right: 0px; left: 0px; z-index: 1000; padding: 10px; background-color: lightgreen; text-align: center;"
  i.fa.fa-thumbs-o-up.fa-2x
