- if Rails.env.production?
  - if Setting.tld == "com"
    - if !user_signed_in? || current_user.try(:member?)
      meta name="msvalidate.01" content="581235DC300C850870F5BA01773F0285"
      meta name="google-site-verification" content="GbDxJ38Z6K04pZnExu3LAXqLuQZArvTHdZPCvqFq9QM"
      
      script type="text/javascript" src="//badge.topratedlocal.com/load-badge/default/right?mobile=pin"
      a href="http://www.topratedlocal.com/nterone-reviews" id="trl-badge-poweredby" Powered by Top Rated Local&reg;
      
      javascript:
        window.$zopim||(function(d,s){var z=$zopim=function(c){
        z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?3naKOCfXUCQpTL48Row9IGOxjjAxy1Ez';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        
    javascript:
      $.FroalaEditor.DEFAULTS.key = 'Padtj1A-32zpB2twt==';
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85530831-1', 'auto');
      ga('send', 'pageview');
      
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1697430287242506');
      fbq('track', 'PageView');
    noscript
      img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1697430287242506&ev=PageView&noscript=1"
      
    javascript:
      (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5440860"};
      o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),
      n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){
      var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},
      i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})
      (window,document,"script","//bat.bing.com/bat.js","uetq");
    noscript
      img src="//bat.bing.com/action/0?ti=5440860&Ver=2" height="0" width="0" style="display:none; visibility: hidden;"
      
  - if Setting.tld == "la"
    - if !user_signed_in? || current_user.try(:member?)
      meta name="google-site-verification" content="lYfuNW1EbFJRtAT2qBQkQrygnwvUtTM4dSX2AcwUjJY"
      
      javascript:
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?4Efd83VP84hajOBizIjsd794PJRIvMeh";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        
    javascript:
      $.FroalaEditor.DEFAULTS.key = 'wD-13ewaH-9H-8sB3tx==';
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91483734-1', 'auto');
      ga('send', 'pageview');
      
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '409175342769513');
      fbq('track', 'PageView');
    noscript
      img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=409175342769513&ev=PageView&noscript=1"
  
  - if Setting.tld == "ca"
    - if !user_signed_in? || current_user.try(:member?)
      meta name="google-site-verification" content="HgEf3Yk12TlT7ZI-54wXQbAw96MC6JPTiZWgOb4N0tw"
        
    javascript:
      $.FroalaEditor.DEFAULTS.key = '3ylB-13htrxB2G-7a==';
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91508219-1', 'auto');
      ga('send', 'pageview');
      
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '378146555883173');
      fbq('track', 'PageView');
    noscript
      img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=378146555883173&ev=PageView&noscript=1"
    
